
/**
**      Header 
**/

#headerContainer {
    font-family: 'Jost', sans-serif;
    width: 100%;
    min-height: 5rem;
    height: 5rem;
    display: flex;
    background-color: #ffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

#navigation {
    display: flex;
    align-items: center;
    min-height: 5rem;
    height: 5rem;
    justify-content: space-between;
    padding: 0 1.314rem;
}

.link--home{
    min-height: 5rem;
    height: 5rem;
    width: 100%;
    text-decoration: none;
}

.site-name{
    color: black;
    text-decoration: none;
    font-size: 3.4em;
    font-weight: 300;
    /* padding: 1em 0.2em 1em 0.2em; */
    margin: 0;
}

.header--logo{
    min-width: 198px;
    max-width: 61.8%;
}



/**********/
/*DROPDOWN*/

/* Dropdown Button */
.dropbtn {
    cursor: pointer;
    width: 1.8rem;

}

/* Dropdown button on hover & focus */
.dropbtn:hover:after, .dropbtn:focus:after {
    border-radius: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-flex;
}

/* Dropdown Content (Caché par défaut) */
.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 2;
    width: 15rem;
    top: 5rem;
    right: 1.314rem;
    border-top: 3px solid #2A9988;
}

/* Lien à l'intérieur du Dropdown */
.link--menu {
    color: black;
    padding: 1.2rem 1rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.link--menu:hover {
    background-color: #ddd;
    border-radius: 5px;
}

/* Sous lien du Dropdown*/
.link--sous-menu{
    padding-left: 3rem;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

/* Effet hover sur logo menu  */
.header--menulogoVert{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease;
	transition: .2s ease;
}

.header--menulogoVert:hover{
    -webkit-transform: scale(1.06);
	transform: scale(1.06);
}