body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





/**
**      MAIN
**/

.home--main{
  width: 100vw;
  height: calc(100vh - 10rem) ;
  overflow: hidden;
  position: relative;
}

.home--photo{
  position: absolute;
  width: 151%;
  top: 0px;
  left: -35px;
}
